<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <form role="form" novalidate (ngSubmit)="onSubmit(form)" [formGroup]="form">
        <h2>New Assistance Request</h2>
        <div class="form-group">
          <input type="text" class="form-control" id="first_name" formControlName="first_name" placeholder="First Name">
          <div
            class="text-danger text-right"
            *ngIf="submitted && form.get('first_name').hasError('required')">
            Required
          </div>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="last_name" formControlName="last_name" placeholder="Last Name">
          <div
            class="text-danger text-right"
            *ngIf="submitted && form.get('last_name').hasError('required')">
            Required
          </div>
        </div>
        <div class="form-group">
          <input type="email" class="form-control" id="email" formControlName="email" placeholder="Email">
          <div
            class="text-danger text-right"
            *ngIf="submitted && form.get('email').hasError('required')">
            Required
          </div>
          <div
            class="text-danger text-right"
            *ngIf="submitted && form.get('email').hasError('invalidEmail')">
            Invalid Email
          </div>
        </div>
        <div class="form-group">
          <select class="form-control" id="service_type" formControlName="service_type" placeholder="Select Service Type">
            <option *ngFor="let option of options" [value]="option.id">{{option.display_name}}</option>
          </select>
          <div
            class="text-danger text-right"
            *ngIf="submitted && form.get('service_type').hasError('required')">
            Required
          </div>
        </div>
        <div class="form-group">
          <textarea class="form-control" formControlName="description"></textarea>
        </div>
        <div class="form-group">
          <input type="checkbox" formControlName="accept"> I hearby accept the terms of service for THE NETWORK and the Privacy Policy
          <div
            class="text-danger text-right"
            *ngIf="submitted && form.get('accept').hasError('required')">
            Required
          </div>
        </div>
        <div class="form-group text-right">
          <button type="submit" class="btn btn-primary ">Get Assistance</button>
        </div>
      </form>
    </div>
  </div>
</div>